<title>{{ title|default("CR Search") }}</title>
<meta name="description" content="{{ description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@lw1_at">
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ url }}?image=true"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="600"/>
