.ytwrapper {
  font-family: "Mr Eaves Small Caps", serif;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  background: url("assets/Old_papertest.jpg");
  border: 2px solid $border-color;

  button {
    display: block;
    width: 100%;
  }
}

.popup {
  font-family: "ScalySans", sans-serif;
  background: url("assets/Old_papertest.jpg");
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  //border: 2px solid $border-color;
  z-index: 100;

  @include media-breakpoint-down(md) {
    width: 80%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    height: 100%;
  }

  .title {
    padding: 0;
  }

  @include media-breakpoint-up(sm) {
    .title {
      display: none;
    }
  }

  div {
    padding: 10px;
  }

  p {
    font-family: inherit;
  }

  box-shadow: 10px 10px transparentize(black, .5);

  .buttonrow {
    display: flex;
    padding: 0;

    button {
      width: 100%;
    }
  }

}

.ytoptin {
}

#page-mask {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
