.ytwrapper {
  font-family: "Mr Eaves Small Caps", serif;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  background: url("assets/Old_papertest.jpg");
  border: 2px solid $border-color;

  button {
    display: block;
    width: 100%;
  }
}

.popup {
  font-family: "ScalySans", sans-serif;
  background: url("assets/Old_papertest.jpg");
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  //border: 2px solid $border-color;
  z-index: 100;
  max-height: 95vh;
  overflow: auto;

  @include media-breakpoint-down(md) {
    width: 80%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    height: 100%;
  }

  .title {
    padding: 0;
  }

  @include media-breakpoint-up(sm) {
    .title {
      display: none;
    }
  }

  > div {
    padding: 10px;
  }

  p {
    font-family: inherit;
  }

  box-shadow: 10px 10px transparentize(black, .5);

  .buttonrow {
    display: flex;
    padding: 0;

    button {
      width: 100%;
    }
  }

}

.ytoptin {
}

#page-mask {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.seriesSelector {
  width: 95%;
  max-width: 1500px;

  h1{
    font-family: "Nodesto Caps Condensed", cursive;
    font-size: 3rem;
    text-align: center;
  }

  .seriesList {
    display: flex;
    flex-wrap: wrap;

    .series {

      @include media-breakpoint-up(sm) {
        width: calc(50% - 1rem);
      }
      @include media-breakpoint-up(lg) {
        width: calc(33% - 1rem);
      }
      cursor: pointer;
      background: white;
      border: solid 4px black;
      padding: 0.5rem 0.5rem;
      margin: 0.5rem;
      border-radius: 15px;

      &:hover, &:active, &:focus {
        text-decoration: none;
        background-color: $noteGreen;
      }
      div {
        font-family: "Mr Eaves Small Caps", serif;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }

  img {
    width: 100%;
  }

  .flip-list-move {
    transition: transform 1s;
  }

  .flip-list-enter, .flip-list-leave-to
    /* .list-complete-leave-active below version 2.1.8 */
  {
    opacity: 0;
    transform: translateY(30px);
  }

  .flip-list-leave-active {
    position: absolute;
  }
}
