.ytwrapper {
  font-family: "Mr Eaves Small Caps", serif;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  background: url("assets/Old_papertest.jpg");
  border: 2px solid $border-color;

  button {
    display: block;
    width: 100%;
  }
}
