@import "colors";
@import '~bootstrap';
@import '~bootstrap-vue';
@import "fonts";
@import "popups";
@import "autocomplete";

body {
  background: $background-color;
  background: url("assets/Old_papertest.jpg");
  font-family: "Scaly Sans", $font-family-sans-serif;
}

.title {
  h1 {
    font-size: 4rem;
    text-align: center;
  }

  span {
    font-size: 2rem;
    font-style: italic;
  }

  font-family: "Nodesto Caps Condensed", cursive;
}

.inputlist, .inputlist input, .inputlist select {
  font-family: "Mr Eaves Small Caps", serif;
  font-weight: bold;
  font-size: 1.8rem;
}

.inputlist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }

  input, select {
    background: transparent;
    color: $body-color;
    border: 1px dashed $border-color;

    &:focus, &:active {
      background: transparent;
      color: $body-color;
    }
  }

  input[type=number] {
    max-width: 5rem;
  }

  select {
    width: auto;

  }
}


.entry {
  .person {
    font-weight: bold;
  }

  .line {
    padding-left: 5px;
    border-left: solid 5px $background-color;

    &.note, &.meta {
      font-style: italic;
    }
  }

  .title {
    font-size: .529cm;
    border-bottom: 2px solid $border-color;
    margin-top: .2em;
    margin-bottom: .2em;
    font-family: "Mr Eaves Small Caps", serif;
    font-weight: 800;
    color: $headings-color;

    display: flex;
    justify-content: space-between;

    button {
      font-family: serif;
    }
  }
}

p {
  font-family: "Bookinsanity", serif;
}


pre {
  white-space: pre-wrap;
}

footer {
  display: flex;
  justify-content: space-between;

  button.btn-link {
    padding: 0;
  }
}

#app, body, html, #contentwrapper, .container {
  height: 100%;
}

#contentwrapper {
  display: flex;
  flex-direction: column;
}

.home {
  flex: 1 0 auto;
}

.episode-table {
  h2 {
    font-family: "Scaly Sans Caps", sans-serif;
    font-weight: 900;
    color: black;
    font-size: 1.5rem;
    margin: 0;
  }

  background: white;
  padding: 0.5rem 0.5rem;
  margin-bottom: 2rem;
  border: solid 4px black;
  border-radius: 15px;
  width: 100%;

  table {
    width: 100%;
  }

  .checkmark {
    .value {
      font-size: 1.5rem;
      line-height: 1.5rem;
      vertical-align: middle;
    }
  }

  th {
    text-align: center;
    font-weight: 800;
    vertical-align: bottom;
    padding: 0 .2em .3em;
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: $noteGreen;
    }

  }
}

.text-page {
  h1, h2, h3 {
    font-family: "Mr Eaves Small Caps", serif;
  }

  h1 {
    text-align: center;
    font-weight: 800;
  }
}
